
<div class="nav navbar mainheader">
 <!--<a href="#" class="fa fa-facebook"></a>  -->  
   <div class="box">
    <marquee style="color:white" scrollamount="9">
     <b>
       Delivering Certified  Organic &nbsp;& Natural Products to more than &nbsp; 12,000 pin codes across India.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; COD Available          
    </b>
    </marquee>
  </div>
</div>
<br>

<!--Navbar-->

<div class="nav navbar-expand-lg container">
  <ul  class="nav-items">
  <li><img id="img" routerLink=""  src="./assets/images/ff_logo.png"  class="img-fluid"></li>
  <br>
  
  <li class="col-md-6 mb-4 searchpdt">
    
    <form class="form-inline mr-auto mb-4">
    
      <input class="form-control mr-sm-2 pdtinput" required type="text" placeholder="Search Your Product" aria-label="Search">
  
    
      <button id="searchbtn" class="btn btn-green btn-rounded btn-lg my-0 waves-effect waves-light" type="submit"><i class="fa fa-search"></i></button>
   
    </form>
 
  </li>
 
  <li>
    <div class="lovebox lbox">
  <a id="lo" href="" ><i style="font-size:18px" class="fa love">&#xf08a;</i></a>
  </div>
  </li>

  <li>

  <div class="lovebox shop">
  <a id="ca" href=""><i class="fa fa-shopping-cart love" style="font-size:18px"></i></a>
  </div>

  </li>
  
  
  <li>
  <div class="dropdown">
    
    <button class="btn btn-primary dropdown-toggle" data-animations="fadeInDown fadeInLeft fadeInUp fadeInRight" type="button" data-toggle="dropdown" data-hover="dropdown">
     Login <span class="caret"></span>
    </button>
  
    <ul class="dropdown-menu">
      <li><a id="login" [routerLink]="['/login']">Seller Login</a></li>
      <li><a id="login" [routerLink]="['/sign-in']">Buyer Login</a></li>
     </ul>
  </div>
  </li>

<li>
  <div class="dropdown">
    
    <button class="btn dropdown-toggle  btn-primary " data-animations="fadeInDown fadeInLeft fadeInUp fadeInRight" type="button" data-toggle="dropdown" data-hover="dropdown">
     Sign Up <span class="caret"></span>
    </button>
  
    <ul class="dropdown-menu">
      <li><a id="login" [routerLink]="['/signup-seller']">Seller Sign Up</a></li>
      <li><a id="login" [routerLink]="['/sign-up']">Buyer Sign Up</a></li>
     </ul>
  </div> 
  
</li>  
</ul>
  
</div>
<br>

<nav class="navbar navbar-inverse thirdheader">
  <div class="container-fluid">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <!--<a href="#" style="color:black">Shop By Category</a>-->
          <div class="dropdown">
    
            <button class="btn dropdown-toggle shopbycat btn-primary " data-animations="fadeInDown fadeInLeft fadeInUp fadeInRight" type="button" data-toggle="dropdown" data-hover="dropdown">
             Shop By Category <span class="caret"></span>
            </button>
          
            <ul class="dropdown-menu category productdrop">
              <li><a id="prd" [routerLink]="['/vegetables']">Organic Vegetables</a></li>
              <li><a id="prd" [routerLink]="['/dairy']">Diary Products</a></li>
              <li><a id="prd" [routerLink]="['/fruits']">Fruites</a></li>
             </ul>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navlin" style="margin-right: 20%;">
        <li class="nav-item "><a class="nav-link"  id="licol" routerLink="">Home</a></li>
        <li class="nav-item "><a class="nav-link"  id="licol" [routerLink]="['/products']">Products</a></li>
        <li class="nav-item "><a class="nav-link" [routerLink]="['/about-us']" id="licol">About Us</a></li>
        <li class="nav-item "><a class="nav-link" [routerLink]="['/contact-us']" id="licol" >Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>



    


    








