<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-4 mt-3 mb-3">
            <h1>FarmFresh</h1>
            <p>FarmFresh brings to you a wide range of organic<br>
                and natural products under one roof.<br>
                 We deliver our carefully curated selection across India.</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <p class="link">Important Links</p>
            <a routerLink="">Home</a>
            <a routerLink="about-us">About</a>
            <a routerLink="contact-us">Contact</a>
            <a routerLink="signup-seller">Signup</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-3 mt-3 mb-3">
            <p class="social">Follow us</p>
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="#" target="_blank"><i class="bi bi-github"></i></a>
           
        </div>
    </div>
</div>

