<app-header></app-header>

<h3><strong>About Us</strong></h3>
<div class="bg">
<div class="">
   <p>
    Farm Fresh is an organization that provides knowledge and services to normal people, small farmers,especially marginalized farmers who have inadequate knowledge of ecological organic farming techniques, market skills of natural/organic products, and sustainable livelihoods.</p>

   <p> Agriculture is India's main economic activity that employs about 77% of the total population. 
   </p>
</div>

<div class="box">
    <div class="left">
     <h4><strong>Our Vision</strong></h4>
     <p>Organic Agriculture is widely adopted and seen organic food on every table in India and all over the world</p>
    </div>

    <div class="right" style="padding-top:2%;">
        <h4><strong>Mission</strong></h4>
        <p>To engage and involve all normal people ,farmers & stakeholders in organic agriculture, facilitate the exchange of scientific knowledge of organic food and farming systems and help practitioners disseminate, apply and implement innovation and scientific expertise consistent with the principles of organic agriculture.</p>
    </div>
</div>
</div>
