<app-header> </app-header>

<!--For Page-->
<div class="page">

	<!--For Row containing all card-->
	<div class="row">

   

		<!--Card 1-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/ladyfinger.jpg"
      alt="" >
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>


				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a routerLink="sign-in">Lady Finger</a></strong></h4>

					<!-- Card Description-->
					<p class="card-text">Organic Lady Finger is high in fiber, Vitamin K and C and has a good amount of folates as well. It is richest in manganese and rich in magnesium, iron. The green pods also contain good amounts of phyto-nutrients like beta-carotene, lutein and xanthin which is great for eyesight.
					</p>


					<p class="price">50 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
					<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>




		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/tomato.jpg"
      alt="">
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a routerLink="sign-in">Tomato</a></strong></h4>

					<!--Card Description-->
					<p class="card-text">Tomato gives them their bright red color and helps protect them from the ultraviolet rays of the sun. In much the same way, it can help protect your cells from damage. Tomatoes also have potassium, vitamins B and E, and other nutrients.</p>

					<p class="price">60 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>

					<!--Card footer-->
					<div class="card-footer">
						<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>

				</div>
			</div>
		</div>



		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce wider shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/cauliflower.jpg"
      alt="">
					<a [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">CauliFlower</a></strong></h4>

					<!--Description-->
					<p class="card-text">Organic Cauliflower is an annual plant which reproduces by seed. In this whole produce full of leaves, only the head part is used in the cooking. The leaves are not used. The Organic Cauliflower is composed of white inflorescence meristem, which looks like a white bouquet
					</p>

					<p class="price">70 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
						<a [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>

	</div>
</div>
