.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  }

  .ng-valid[required],.ng-valid[pattern],.ng-valid.required  {
    border-left: 5px solid #42A948;
    border-color: #53f35b;
  }
   input:focus{
    border-color:red;
  }

 
  input{
    border-left: 5px solid #42A948;
  }

  .card{
    width:50%;
    margin-left:30%;
    padding-bottom: 20px;
    background-color: burlywood;
  }
  .card-body{
    padding:20px 20px 20px 20px;
  }
  .niche{
    padding-top: 20px;
  }
  .email{
    height:10px;
  }
 