<app-header> </app-header>

<!--For Page-->
<div class="page">

	<!--For Row containing all card-->
	<div class="row">

   

		<!--Card 1-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/ladyfinger.jpg"
      alt="" >
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>


				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a routerLink="sign-in">Lady Finger</a></strong></h4>

					<!-- Card Description-->
					<p class="card-text">Organic Lady Finger is high in fiber, Vitamin K and C and has a good amount of folates as well. It is richest in manganese and rich in magnesium, iron. The green pods also contain good amounts of phyto-nutrients like beta-carotene, lutein and xanthin which is great for eyesight.
					</p>


					<p class="price">50 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
					<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>




		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/tomato.jpg"
      alt="">
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a routerLink="sign-in">Tomato</a></strong></h4>

					<!--Card Description-->
					<p class="card-text">Tomato gives them their bright red color and helps protect them from the ultraviolet rays of the sun. In much the same way, it can help protect your cells from damage. Tomatoes also have potassium, vitamins B and E, and other nutrients.</p>

					<p class="price">60 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>

					<!--Card footer-->
					<div class="card-footer">
						<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>

				</div>
			</div>
		</div>



		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce wider shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/cauliflower.jpg"
      alt="">
					<a [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">CauliFlower</a></strong></h4>

					<!--Description-->
					<p class="card-text">Organic Cauliflower is an annual plant which reproduces by seed. In this whole produce full of leaves, only the head part is used in the cooking. The leaves are not used. The Organic Cauliflower is composed of white inflorescence meristem, which looks like a white bouquet
					</p>

					<p class="price">70 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
						<a [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>


        

	</div>

    <div class="row">
       
        <div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/orange.jpeg"
      alt="" >
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>


				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a routerLink="sign-in">orange</a></strong></h4>

					<!-- Card Description-->
					<p class="card-text">
                        Oranges are round citrus fruits with finely-textured skins that are, of course, orange in color just like their pulpy flesh; the skin can vary in thickness from very thin to very thick. Oranges usually range from approximately two to three inches in diameter.
                    </p>


					<p class="price">90 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
					<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>




		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/guvava.jpg"
      alt="">
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">Guvava</a></strong></h4>

					<!--Card Description-->
					<p class="card-text">
                        Guavas are green colored fruit with off white flesh from inside. They raw gauvas can be kept at room temperature to ripe. The riped guava is soft and sweet and should be kept under refrigeration. They are rich in vitamins A,C, folate, fiber and lycopene.
                    </p>

					<p class="price">60 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>

					<!--Card footer-->
					<div class="card-footer">
						<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>

				</div>
			</div>
		</div>



		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce wider shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/apple.jpg"
      alt="">
					<a [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">Apple</a></strong></h4>

					<!--Description-->
					<p class="card-text">These Apples are grown without the use of harmful pesticides, fertilizers, and preservatives.</p>

					<p class="price">70 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
						<a [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>
    </div>

    <div class="row">
      
        <div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/milk.jpg"
      alt="" >
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>


				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a routerLink="sign-in">Milk</a></strong></h4>

					<!-- Card Description-->
					<p class="card-text">
                        Organic milk differs from conventional milk in three specific ways: it must come from cows that aren't treated with antibiotics, it must come from cows that are not given any hormones for growth or reproduction, and it must come from cows that receive at least 30% of their diet from pasture.
                    </p>


					<p class="price">90 &#8377;/Litre</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
					<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>




		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/cheese.jpg"
      alt="">
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">Cheese</a></strong></h4>

					<!--Card Description-->
					<p class="card-text">
                        Cheese is a dairy product produced in wide ranges of flavors, textures, and forms by coagulation of the milk protein casein.
                    </p>

					<p class="price">60 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>

					<!--Card footer-->
					<div class="card-footer">
						<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>

				</div>
			</div>
		</div>



		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce wider shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/butter.jpg"
      alt="">
					<a [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">Butter</a></strong></h4>

					<!--Description-->
					<p class="card-text">butter, a yellow-to-white solid emulsion of fat globules, water, and inorganic salts produced by churning the cream from cows' milk.</p>
					<p class="price">70 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
						<a [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>


    </div>
</div>

