<app-header> </app-header>

<!--For Page-->
<div class="page">

	<!--For Row containing all card-->
	<div class="row">

   

		<!--Card 1-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/orange.jpeg"
      alt="" >
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>


				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a routerLink="sign-in">orange</a></strong></h4>

					<!-- Card Description-->
					<p class="card-text">
                        Oranges are round citrus fruits with finely-textured skins that are, of course, orange in color just like their pulpy flesh; the skin can vary in thickness from very thin to very thick. Oranges usually range from approximately two to three inches in diameter.
                    </p>


					<p class="price">90 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
					<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>




		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/guvava.jpg"
      alt="">
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">Guvava</a></strong></h4>

					<!--Card Description-->
					<p class="card-text">
                        Guavas are green colored fruit with off white flesh from inside. They raw gauvas can be kept at room temperature to ripe. The riped guava is soft and sweet and should be kept under refrigeration. They are rich in vitamins A,C, folate, fiber and lycopene.
                    </p>

					<p class="price">60 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>

					<!--Card footer-->
					<div class="card-footer">
						<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>

				</div>
			</div>
		</div>



		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce wider shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/apple.jpg"
      alt="">
					<a [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">Apple</a></strong></h4>

					<!--Description-->
					<p class="card-text">These Apples are grown without the use of harmful pesticides, fertilizers, and preservatives.</p>

					<p class="price">70 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
						<a [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>

	</div>
</div>

