<app-header> </app-header>

<!--For Page-->
<div class="page">

	<!--For Row containing all card-->
	<div class="row">

   

		<!--Card 1-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/milk.jpg"
      alt="" >
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>


				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a routerLink="sign-in">Milk</a></strong></h4>

					<!-- Card Description-->
					<p class="card-text">
                        Organic milk differs from conventional milk in three specific ways: it must come from cows that aren't treated with antibiotics, it must come from cows that are not given any hormones for growth or reproduction, and it must come from cows that receive at least 30% of their diet from pasture.
                    </p>


					<p class="price">90 &#8377;/Litre</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
					<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>




		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/cheese.jpg"
      alt="">
					<a  [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">Cheese</a></strong></h4>

					<!--Card Description-->
					<p class="card-text">
                        Cheese is a dairy product produced in wide ranges of flavors, textures, and forms by coagulation of the milk protein casein.
                    </p>

					<p class="price">60 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>

					<!--Card footer-->
					<div class="card-footer">
						<a  [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>

				</div>
			</div>
		</div>



		<!--Card 2-->
		<div class="col">
			<div class="card card-cascade card-ecommerce wider shadow mb-5 ">

				<!--Card image-->
				<div class="view view-cascade overlay text-center">
					<img class="card-img-top" src="./assets/images/butter.jpg"
      alt="">
					<a [routerLink]="['/sign-in']">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<!--Card Body-->
				<div class="card-body card-body-cascade text-center">

					<!--Card Title-->
					<h4 class="card-title"><strong><a  [routerLink]="['/sign-in']">Butter</a></strong></h4>

					<!--Description-->
					<p class="card-text">butter, a yellow-to-white solid emulsion of fat globules, water, and inorganic salts produced by churning the cream from cows' milk.</p>
					<p class="price">70 &#8377;/Kg</p>

					<!-- Card Rating-->
					<ul class="row rating">
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
						<li><i class="fa fa-star"></i></li>
					</ul>


					<!--Card footer-->
					<div class="card-footer">
						<a [routerLink]="['/sign-in']">ADD TO CART</a>
					</div>


				</div>
			</div>
		</div>

	</div>
</div>


